/**
 * @file
 * Styles for custom CTools popups.
 */

#modalContent {
  border: 1px solid #ccc;
}

#modalContent .modal-header {
  background: none repeat scroll 0 0 #e1e2dc;
  font-weight: bold;
  padding: 0.5em 1em 0.3em;
  position: relative;
}

#modalContent .modal-title {
  color: #000;
  font-size: 100%;
  font-weight: bold;
  overflow: hidden;
  white-space: normal;
}

#modalContent a.close {
  display: none;
}

#modalContent .ctools-modal-content {
  background: none repeat scroll 0 0 #fff;
  border: 3px solid #fff;
  color: #000;
  margin: 0;
  padding: 0;
  text-align: left;
}

#modalContent .ctools-modal-content p {
  display: block;
  margin: 0 0 15px 0;
}

#modalContent .ctools-modal-content .form-item label {
  float: none;
  width: auto;
}

#modalContent .ctools-modal-content .resizable-textarea {
  margin: 0;
}

#modalContent .ctools-modal-content .editor-note-actions {
  padding: 1em 0 0;
  text-align: right;
}
